@model Sklep.Models.ViewModel.Admin.ExternalHardDriveDetailsViewmodel


<div class="row">
    <p class="admin_details_list_label admin_details_list_label--addDelivery col-5">Rodzaj:</p>
    <div class="mdl-textfield mdl-js-textfield col-6  form-inline">
        @Html.EditorFor(model => model.TypeOfDrive, new { htmlAttributes = new { @class = "mdl-textfield__input modal_input add_productSpecification_input", @placeholder = "Rodzaj", @id = "TypeOfDrive" } })
        <label class="mdl-textfield__label modal_label--underline" for="TypeOfDrive"></label>
    </div>
</div>
<div class="row">
    <p class="admin_details_list_label admin_details_list_label--addDelivery col-5">Pojemność:</p>
    <div class="mdl-textfield mdl-js-textfield col-6  form-inline">
        @Html.EditorFor(model => model.Capacity, new { htmlAttributes = new { @class = "mdl-textfield__input modal_input add_productSpecification_input", @placeholder = "Pojemność", @id = "Capacity" } })
        <label class="mdl-textfield__label modal_label--underline" for="Capacity"></label>
    </div>
</div>
<div class="row">
    <p class="admin_details_list_label admin_details_list_label--addDelivery col-5">Rozmiar:</p>
    <div class="mdl-textfield mdl-js-textfield col-6  form-inline">
        @Html.EditorFor(model => model.Size, new { htmlAttributes = new { @class = "mdl-textfield__input modal_input add_productSpecification_input", @placeholder = "Rozmiar", @id = "Size" } })
        <label class="mdl-textfield__label modal_label--underline" for="Size"></label>
    </div>
</div>
<div class="row">
    <p class="admin_details_list_label admin_details_list_label--addDelivery col-5">Kolor:</p>
    <div class="mdl-textfield mdl-js-textfield col-6  form-inline">
        @Html.EditorFor(model => model.Color, new { htmlAttributes = new { @class = "mdl-textfield__input modal_input add_productSpecification_input", @placeholder = "Kolor", @id = "Color" } })
        <label class="mdl-textfield__label modal_label--underline" for="Color"></label>
    </div>
</div>
<div class="row">
    <p class="admin_details_list_label admin_details_list_label--addDelivery col-5">Interfejs:</p>
    <div class="mdl-textfield mdl-js-textfield col-6  form-inline">
        @Html.EditorFor(model => model.Interface, new { htmlAttributes = new { @class = "mdl-textfield__input modal_input add_productSpecification_input", @placeholder = "Interfejs", @id = "Interface" } })
        <label class="mdl-textfield__label modal_label--underline" for="Interface"></label>
    </div>
</div>
<div class="row">
    <p class="admin_details_list_label admin_details_list_label--addDelivery col-5">Wodoszczcelność:</p>
    <div class="mdl-textfield mdl-js-textfield col-6  form-inline">
        @Html.EditorFor(model => model.Waterproof, new { htmlAttributes = new { @class = "mdl-textfield__input modal_input add_productSpecification_input", @placeholder = "Wodoszczelność", @id = "Waterproof" } })
        <label class="mdl-textfield__label modal_label--underline" for="Waterproof"></label>
    </div>
</div>

